---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Escuela de Oratoria NEXUS - Transforma tu comunicación con innovación y seriedad." } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="selection:bg-brand-teal selection:text-white">
		<slot />
	</body>
</html>
